body {
  margin-top: 20px;
  background-color: #252525;
  margin-bottom: 2em;
}

body .container-fluid {
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}

body .container-fluid #boxtitle {
  font-family: 'Croissant One', cursive;
  color: #b5d2d6;
  font-size: 60px;
  text-align: center;
}

body .container-fluid #holder {
  background-color: #b5d2d6;
  padding: 10px;
  border-radius: 4px;
}

body .container-fluid #holder .panel-title {
  color: darkgreen;
  font-size: 30px;
  font-family: 'Croissant One', cursive;
  cursor: pointer;
}

body .container-fluid #holder .list-group-item {
  font-size: 20px;
  font-family: 'Courgette', cursive;
}

body .container-fluid #holder .updateButton {
  display: inline-flex;
  margin-left: 5px;
}

body .container-fluid #buttonHolder {
  margin-top: 10px;
}

body .container-fluid #info {
  margin-top: 30px;
  color: white;
}

body .container-fluid #info a, body .container-fluid #info a:active, body .container-fluid #info a:hover, body .container-fluid #info a:visited, body .container-fluid #info a:active, body .container-fluid #info a:hover {
  color: yellow;
  text-decoration: none;
}
