body {
  margin-top: 20px;
  background-color: #252525;
  margin-bottom: 2em;
}

body .container-fluid {
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}

body .container-fluid .recipeName {
  color: darkgreen;
}

body .container-fluid #info a, body .container-fluid #info a:active, body .container-fluid #info a:hover, body .container-fluid #info a:visited, body .container-fluid #info a:active, body .container-fluid #info a:hover {
  color: yellow;
  text-decoration: none;
}
