//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';
$divback: #b5d2d6;
body{
  margin-top:20px;
  background-color:#252525;
  margin-bottom:2em;

  .container-fluid{
    margin-left: 5%;
    margin-right: 5%;
    color:black;
    #boxtitle{
      font-family: 'Croissant One', cursive;
      color:$divback;
      font-size: 60px;
      text-align: center;
    }
    #holder{
      background-color: $divback;
      padding: 10px;
      border-radius: 4px;
      .panel-title{
        color:darkgreen;
        font-size: 30px;
        font-family: 'Croissant One', cursive;
        cursor: pointer;
      }
      .list-group-item{
        font-size: 20px;
        font-family: 'Courgette', cursive;
      }
      .updateButton{
        display:inline-flex;
        margin-left: 5px;
      }
    }
    #buttonHolder{
      margin-top: 10px;
    }

    #info{
      margin-top: 30px;
      color:white;
      #{$a-tags} {
        color: yellow;
        text-decoration: none;
      }
    }
  }
}
