//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

body{
  margin-top:20px;
  background-color:#252525;
  margin-bottom:2em;

  .container-fluid{
    margin-left: 5%;
    margin-right: 5%;
    color:black;
    //for title div
    .recipeName{
      color:darkgreen;
    }
    #info{
      #{$a-tags} {
        color: yellow;
        text-decoration: none;
      }
    }
  }
}
